
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dancing+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=National+Park:wght@200..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dancing+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dancing+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Dancing Script", cursive; */
    /* font-family: "National Park", sans-serif; */
        /* font-family: "Bree Serif", serif; */

    font-family: cursive;
    text-decoration: none;
}
:root{
    --sapn-color:  #ffd700;
}
body{
    background-color: #444;
    display: block;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    /* background: #333; */
    backdrop-filter: blur(30px);
    color: #fff;
    font-family: cursive;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo{
    font-size: 1.5rem;
}
.logo span{
    color: var(--sapn-color);
    font-size: 1.8rem;
}
.navbar{
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0px 1rem;
    color: #fff;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 2s ease  forwards calc(.2s* var(--i));
}
.navbar a:hover{
    color: #999;
}

.burger{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-self: center;
    display: none;
}
.burger div{
    height:3px;
    padding: 1px;
    background: #fff;
    margin: 3px;
}
.burger div:nth-child(1){
    width: 30px;
}
.burger div:nth-child(2){
    width: 25px;
}
.burger div:nth-child(3){
    width: 20px;
}
.burger:hover{
    cursor: pointer;
}
.home-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.home-container::before{
    content: "";
    background: url(images\ \(26\).jpeg) no-repeat center center/cover;
    position: absolute;
    opacity: 0.2;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.home-content{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 80%;
    border-radius: 1rem;
    padding: 20px 30px;
    font-family: cursive;
    margin: 20px;
    /* background: #444; */
}
.home-content .heading{
    color: #fff;
    font-size: 1.5rem;
}
.home-content .heading span{
    color: var(--sapn-color);
    font-size: 1.4rem;
}
.home-content .para{
    color: #fff;
    font-size: 1.2rem;
    margin-top: 10px;
    line-height: 2rem;
}
.social-links{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.social-links #icon{
    font-size: 2rem;
    color: #fff;
    padding: 5px 10px;
    margin: 0px 5px ;
    transition: .5s ease-in-out;
    opacity: 0;
    animation: slideRight 1s ease  forwards calc(.2s* var(--i));

}
.home-content .btn{
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 0px;
    margin-top:10px ;
}
.home-content .btn button{
    outline: none;
    border: none;
    background: #333;
    color: #fff;
    margin: 5px;
    padding: 10px 20px;
    letter-spacing: 0.1rem;
    border-radius: 0.3rem;
    transition: .5s ease-in-out;
}
.home-content .btn button:hover{
    background: #222;
    cursor: pointer;
}


/* ===== About Us Section ======= */
.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.about-content{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 50%;
    border-radius: 1rem;
    padding: 20px 30px;
    font-family: cursive;
    margin: 20px;
    /* background: #444; */
    transition: .8s ease-in;
    position: relative;
}
.about-content::before{
    content: "";
    background: url(images\ \(26\).jpeg) no-repeat center center/cover;
    position: absolute;
    opacity: 0.09;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.about h1{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    margin: 20px;
    font-weight: 100;
}
.about h1 span{
    color: var(--sapn-color);
}
.about-image{
    padding: 0px 10px 0px 20px ;
}
.about-image img{
    height: 80vh;
    width: 100%;
    object-fit: cover;
    background-size:cover;
    background-position: center; 
    border-radius: 1.2rem;
    transition: .5s ease;
    box-shadow: -0px -0px 10px #000,
                 10px 20px 20px #000;
}
.about-image img:hover{
   transform: scale(1.01);
}
.about-content .heading h1{
    font-size: 2rem;
    color: #fff;
}
.about-content .para{
    color: #fff;
    line-height: 1.7rem;
    font-size: 1.2rem;
    margin: 10px 0px 20px 0px;
}
.about-content .btn button{
    outline: none;
    border: none;
    background: #333;
    color: #fff;
    margin: 10px 5px;
    padding: 10px 20px;
    letter-spacing: 0.1rem;
    border-radius: 0.3rem;
    transition: .5s ease-in-out;
}
.about-content .btn button:hover{
    cursor: pointer;
    background: #222;
}
/* ==== Skills Section ====== */
.skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    height: 100vh;
}
.skill-card{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #222;
    color: #fff;
    max-width:400px;
    margin: 10px;
    border-radius: 1rem;
    box-shadow: 5px 10px 10px #222;
    transition: 0.6s ease;
    position: relative;
}
.skill-card:nth-child(1)::before{
    content: "";
    position: absolute;
    top:  0px;
    left: 0px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    opacity: 0.09;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.skill-card:nth-child(2)::before{
    content: "";
    position: absolute;
    top:  0px;
    left: 0px;
     background-size: cover;
    background-position: center;
    object-fit: cover;
    opacity: 0.09;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.skill-card:nth-child(3)::before{
    content: "";
    position: absolute;
    top:  0px;
    left: 0px;
     background-size: cover;
    background-position: center;
    object-fit: cover;
    opacity: 0.09;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.skill-card:hover{
    transform: scale(1.02);
}
.skill-card .skill-image{
    width: 100%;
    display: flex;
    height: 100px;
    padding: 30px 20px 20px 30px;
    position: relative;
}
 .bgcircle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #fa1212;
    position: absolute;
    top: 20px;
    left: 60px;
    transition: .9s ease;
}
.bgcircle:hover{
    transform: translateY(-8px);
    cursor: pointer;
}
.skill-image i{
    font-size: 3rem;
    color: #fff;
    z-index: 1;
}
.skill-content{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-content h1{
    font-size: 2rem;
    margin-top: 5px;
    text-shadow: 1px 0px 5px #fff;
}
.skill-content p{
    margin-top: 5px;
    font-size: 1rem;
}
.skill-icons{
    display: flex;
    align-items: center;
    height: 2.5rem;
    margin: 10px;
}
.skill-icons a i{
    font-size: 1.5rem;
    padding: 0px 10px;
    transition: .6s ease;
}
.skill-icons a i:hover{
    transform: translateY(-2px);
}
.skill-icons a i:nth-child(1){
    padding: 0px 10px 0px 0px;
}
.skill-icons i{
    font-size: 2rem;
    color: #fff;
}
.skill-btn button{
    padding:  10px;
    background: #fd2222;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 1rem;
    font-size: 1rem;
    transition: .5s ease;
}
.skill-btn button:hover{
    cursor: pointer;
    background: #d80101;
}
.project-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}
.project-card{
    width:40%;
    margin: 20px;
    display: block;
    border-radius: 1.5rem;
    background: #222;
    color: #fff;
    overflow: hidden;
}
.project-name{
    padding: 10px;
    margin: 5px 0 5px 10px ;
}
.project-image img{
    display: block;
    width: 100%;
    height: 60vh;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    transition: .5s ease;
}
.project-image img:hover{
    transform: scale(1.05);
}
.contact{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container{
    display: inline-block;
    justify-content: center;
    width: 60%;
    height: 80vh;
    background: #222;
    border-radius: 1.5rem;
}
.contact-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.contact-inputs input{
    padding: 15px 20px;
    border: none;
    outline: none;
    width: 40%;
    margin: 5px;
    border-radius: 1rem;
    font-size: 1.2rem;
}
textarea{
    width: 87%;
    border-radius: 1rem;
    padding: 20px;
    border: none;
    outline: none;
    margin: 10px 5px;
    font-size: 1.2rem;
}
.submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container .submit-btn button {
    width: 83%;
    margin: auto;
    padding: 10px 20px;
    font-size: 1.5rem;
    color: #fff;
    background: #666;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 1rem;
    transition: .8s ease;
}
.submit-btn button:hover{
    background: #444;
    cursor: pointer;
}
footer{
    padding: 30px 0px;
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.footer-content .name{
    font-size: 1.5rem;
    color: #fff;
}
.social-contact{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #fff;
}
footer .footer_copy{
    margin-top: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 10px 0px;
}



/* ===== Animation KeyFrames  ======= */

@keyframes slideRight{
100%{
transform: translateX(0px);
opacity: 1;
}
0%{
transform: translateX(100px);
opacity: 0;
}
}

@keyframes slideTop{
 0%{
    transform: translateY(-100px);
    opacity: 0;
    }
100%{
transform: translateY(0px);
opacity: 1;
}
}





@media (width < 400px){
    .header{
        padding: 5px 10px;
    }
    .logo{
        font-size: 1rem;
    }
    .navbar{
        display: none;
    }
    .burger{
        display: block;
    }
    .home-container{
        display: flex;
        flex-direction: column;
    }
    .home-content{
        padding: 5px;
        height: 100vh;
        margin: 5px;
    }
    .home-content .heading{
        font-size: 1.2rem;
    }
    .home-content .para{
        font-size: 1rem;
        line-height: 1.3rem;
    }
    .home-content .btn{
        padding: 0%;
    }
    .home-content .btn button{
        padding: 6px 10px;
        letter-spacing: 1px;
    }
    .about-container{
        display: flex;
        flex-direction: column;
    }
    .about-image{
        padding: 0;
        margin: 10px;
    }
    .about-image img{
        display: block;
        width: 100%;
        border-radius: 1rem;
        height: 70vh;
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }
    .about-content{
        padding: 0px 20px;
        margin: 5px 0px;
        width: 100%;
        height: 140vh;
    }
    .skill-container{
        padding: 0px 5px;
        height: 250vh;
    }
    .skill-card{
        margin: 10px 5px ;
    }
     .project-container{
        display: inline-block;
        padding: 0px 5px ;
     }
    .project-card{
        width: 100%;
        display: block;
        margin: 10px 0px;
    }
    .project-image img{
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
    }
     .contact-container .submit-btn button{
        width: 80%;
    }
    .contact-inputs input::placeholder{
        font-size: 0.8rem;
    }
    .contact-inputs input{
        padding: 10px;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-content .social-contact{
        padding: 0;
        font-size: 0.8rem;
    }
    .footer-content .social-links #icon{
        padding: 0px 5px;
    }
    .footer-content .social-links #icon:nth-child(1){
        padding: 0 5px 0 0;
    }
    .footer-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-content .name{
        font-size: 1rem;
        padding-left: 20px;
    }
    footer .footer_copy{
        font-size: 0.8rem;
        margin-top: 10px;
    }
}